/*
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration:line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}
input, select {
	vertical-align:middle;
}
body {
	font-family:Verdana,sans-serif;
	font-size:11px;
	line-height:1.4em;
}
#container {
	margin:0 auto;
}
header, #content {
	background:#fff;
}
#content {
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}
@media only screen and(max-width:960px) {
	#container {
		width:100%;
	}
	#content {
		-webkit-border-bottom-right-radius:0px;
		-webkit-border-bottom-left-radius:0px;
		-moz-border-radius-bottomright:0px;
		-moz-border-radius-bottomleft:0px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
	}
}
header {
	padding-top:10px;
}
header #logo {
	display:block;
	height:42px;
	text-indent:-999em;
	background:url(../images/logo.png) no-repeat;
	margin:10px auto;
	background-size:auto 100%;
	width:305px;
}
header h1 {
	background:#210F7A;
	color:white;
	padding:1.4em 1.4em;
	font-size:2em;
	font-weight:normal;
}
#content {
	padding:10px;
	overflow:hidden;
}
#msg {
	padding:7px 20px;
}
#msg h2 {
	font-size:1.4em;
	margin-bottom:1em;
}
#msg.errors {
	color:red;
	background:transparent !important;
	font-size:13px;
	text-align:center;
}
#msg.success {
	border:1px dotted #390;
	color:#390;
	padding-left:100px;
	background:url(../images/confirm.gif) no-repeat 20px center;
}
#msg.info {
	border:1px dotted #008;
	color:#008;
	padding-left:100px;
	background:url(../images/info.gif) no-repeat 20px center;
}
#msg.question {
	border:1px dotted #390;
	color:#390;
	padding-left:100px;
	background:url(../images/question.png) no-repeat 20px center;
}
#msg.warn {
	border:1px dotted #960;
	color:#960;
	padding-left:100px;
	background:#ffbc8furl(../images/info .gif) no-repeat 20px center;
}
#msg.warn .message {
	color:black;
	margin:1em;
	font-size:1.4em
}
#login {
	width:320px;
	margin:50px auto 0px;
}
#fm1 {
	padding:20px;
	background:#eee;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#fm1 h2 {
	font-size:1.4em;
	font-weight:normal;
	padding-bottom:12px;
	margin-bottom:12px;
}
#fm1 .row {
	margin-bottom:10px;
}
#fm1 .row label {
	display:block;
	color:#777777;
}
#fm1 .row input[type=text], #fm1 .row input[type=password] {
	padding:7px 6px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #DDDDDD;
	background:white;
	width:100%;
	box-sizing:border-box;
	text-align:center;
	font-size:13px;
}
#fm1 .row.check {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #DDDDDD;
	color:#777;
	font-size:11px;
}
#fm1 .row.check label {
	display:inline;
}
#fm1 .row .btn-reset {
	border:0;
	background:none;
	color:#777;
	text-transform:lowercase;
	border-left:1px solid #ddd;
}
#fm1 .row .btn-submit:hover, #fm1 .row .btn-reset:hover {
	cursor:pointer;
}
#sidebar {
	width:auto;
}
#sidebar .sidebar-content {
	padding-left:20px;
}
#sidebar .sidebar-content p {
	margin-bottom:1.4em;
}
#list-languages ul {
	list-style:none;
}
#list-languages ul li {
	display:inline-block;
	padding:0px 10px;
	border-right:1px solid #e2e2e2;
}
#list-languages ul li:last-child {
	border:0;
	line-height:1.4em;
}
footer {
	background:#000;
	position:fixed;
	width:100%;
	bottom:0px;
	padding:12px 20px;
	box-sizing:border-box;
	color:#888;
}
@media only screen and(max-width:960px) {
	footer {
		padding-left:10px;
	}
}
@media only screen and(max-width:799px) {
	header h1 {
		font-size:1em;
	}
	#login {
		float:none;
		width:100%;
	}
	#fm1 .row input[type=text], #fm1 .row input[type=password] {
		width:100%;
		padding:10px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	#fm1 .row .btn-submit {
		outline:none;
		-webkit-appearance:none;
		-webkit-border-radius:0;
		border:0;
		background:#210F7A;
		color:white;
		font-weight:bold;
		width:100%;
		padding:10px 20px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}
	#fm1 .row .btn-reset {
		display:none;
	}
	#sidebar {
		margin-top:20px;
	}
	#sidebar .sidebar-content {
		padding:0;
	}
}
a.button {
	font-weight:bold;
	height:1.7em;
	padding:1.2em 1em .6em 1em;
	text-align:center;
	text-decoration:none;
	color:white;
	background-color:#79946c;
	border-top:1px solid #82b36c;
	border-left:1px solid #82b36c;
	border-right:1px solid #304228;
	border-bottom:1px solid #304228;
	-moz-border-radius:3px;
	border-radius:3px;
}
#big-buttons a.button {
	display:block;
	position:relative;
	font-size:1.6em;
	margin:20px auto;
	width:200px;
	overflow:hidden;
	-moz-border-radius:7px;
	border-radius:7px;
	border-top:2px solid #82b36c;
	border-left:2px solid #82b36c;
	border-right:2px solid #304228;
	border-bottom:2px solid #304228;
}
a.button:hover {
	color:#ffff94;
	background-color:#819e73;
}
.button-down {
	border-top:1px solid #304228;
	border-left:1px solid #304228;
	border-right:1px solid #82b36c;
	border-bottom:1px solid #82b36c;
}
#big-buttons .button-down {
	border-top:2px solid #304228;
	border-left:2px solid #304228;
	border-right:2px solid #82b36c;
	border-bottom:2px solid #82b36c;
}
.copyright .name {
	color:red;
}
.btn-submit {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	-ms-border-radius:4px;
	text-indent:0;
	border:1px solid #d02718;
	color:white;
	text-transform:uppercase;
	padding:7px 13px;
	margin:14px auto;
	display:block;
	font-size:12px;
}
